.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/doc
doc/
Meta/
**/Rplots.pdf
.claude/
.cursor/
/betaregscale.Rproj
/doc/
/Meta/
*.tar.gz
*.Rcheck/
..Rcheck/
src/symbols.rds
